@font-face {
  font-family: "Volte-light";
  src: url("../fonts/volte/Volte-Light.eot");
  src: local("Volte Light"), local("Volte-Light"), url("../fonts/volte/Volte-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/volte/Volte-Light.woff2") format("woff2"), url("../fonts/volte/Volte-Light.woff") format("woff"), url("../fonts/volte/Volte-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Volte";
  src: url("../fonts/volte/Volte-Regular.eot");
  src: local("Volte"), local("Volte-Regular"), url("../fonts/volte/Volte-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/volte/Volte-Regular.woff2") format("woff2"), url("../fonts/volte/Volte-Regular.woff") format("woff"), url("../fonts/volte/Volte-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Volte-medium";
  src: url("../fonts/volte/Volte-Medium.eot");
  src: local("Volte Medium"), local("Volte-Medium"), url("../fonts/volte/Volte-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/volte/Volte-Medium.woff2") format("woff2"), url("../fonts/volte/Volte-Medium.woff") format("woff"), url("../fonts/volte/Volte-Medium.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Volte-semibold";
  src: url("../fonts/volte/Volte-Semibold.eot");
  src: local("Volte Semibold"), local("Volte-Semibold"), url("../fonts/volte/Volte-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/volte/Volte-Semibold.woff2") format("woff2"), url("../fonts/volte/Volte-Semibold.woff") format("woff"), url("../fonts/volte/Volte-Semibold.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Volte-Bold";
  src: url("../fonts/volte/Volte-Bold.eot");
  src: local("Volte Bold"), local("Volte-Bold"), url("../fonts/volte/Volte-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/volte/Volte-Bold.woff2") format("woff2"), url("../fonts/volte/Volte-Bold.woff") format("woff"), url("../fonts/volte/Volte-Bold.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Biko-bold";
  src: url("../fonts/biko/Biko-Bold.woff2") format("woff2"), url("../fonts/biko/Biko-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Biko";
  src: url("../fonts/biko/Biko.woff2") format("woff2"), url("../fonts/biko/Biko.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Biko-black";
  src: url("../fonts/biko/Biko-Black.woff2") format("woff2"), url("../fonts/biko/Biko-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Volte";
  background-color: #d20107;
}

section {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}
section.bg-yellow {
  background-image: url("../images/bg-yellow.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
section.bg-green {
  background-image: url("../images/bg-greennnnnnn.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
section.bg-red {
  background-image: url("../images/bg-red.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.sub-section {
  width: 100%;
  position: relative;
}

.mt-400 {
  margin-top: 400px;
}

.mt-300 {
  margin-top: 300px;
}

.mb-200 {
  margin-bottom: 200px !important;
}

.mb-300 {
  margin-bottom: 300px !important;
}

.mb-400 {
  margin-bottom: 400px !important;
}

.mb-500 {
  margin-bottom: 500px !important;
}

.section-home-product .row .col-md-6:first-child {
  padding-right: 46px;
}
.section-home-product .row .col-md-6:first-child .section__desc {
  text-align: right;
}
.section-home-product .row .col-md-6:last-child {
  padding-left: 46px;
}

.sachet-link img {
  transition-duration: 0.3s;
}
.sachet-link:hover img {
  transform: scale(1.1);
}

#pin1 {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  background-color: wheat;
  width: 240px;
  height: 180px;
  transform-origin: bottom center;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border: 10px solid #252525;
  overflow: hidden;
}

#coffee {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  transform-origin: bottom center;
  background-color: tomato;
}

.panel {
  width: 100%;
  overflow: hidden;
}

.panel.yellow {
  background-color: #ffce00;
}

.section__title {
  font-size: 100px;
  color: white;
  font-family: Volte-bold;
  line-height: 0.9;
  margin-bottom: 21px;
}

.section__desc {
  font-size: 22px;
  color: white;
  text-align: justify;
  font-family: Biko;
  line-height: 1.3;
  margin-bottom: 120px;
  z-index: 1;
  position: relative;
}
.section__desc.long-margin {
  margin-bottom: 350px;
}

.btn-menu {
  width: 64px;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  outline: none;
}
.btn-menu img {
  width: 32px;
}

.footer {
  position: relative;
  color: white;
  padding: 42px 32px;
}
.footer a {
  color: white;
  font-family: Volte-semibold;
}
.footer .foem-email {
  width: 320px;
  max-width: 100%;
}
.footer .logo-wings {
  width: 140px;
}
.footer__menu a {
  padding: 12px;
}
.footer__address {
  font-size: 14px;
  line-height: 1.3;
  margin-top: 12px;
}
.footer__social-media {
  width: 280px;
  text-align: center;
  margin-top: 100px;
}
.footer__social-media a img {
  width: 52px;
}

.section-detail-headline {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.zip-container {
  height: 42.72px;
  width: 100%;
  position: relative;
  transform-origin: right bottom;
  transition-duration: 0.3s;
}
.zip-container img {
  height: 100%;
}
.zip-container img:first-child {
  width: 75%;
  transform-origin: right bottom;
}
.zip-container img:last-child {
  position: absolute;
  right: 0;
}

.section-detail-headline-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.section-detail-headline-scene {
  width: 100%;
  height: 100%;
}

#caramel_hand {
  position: absolute;
  left: -270px;
  top: 40%;
  transform: translateY(-50%);
  width: 910px;
}

.glass-container {
  padding-top: 681.5px;
  width: 620px;
}

.shop-action {
  display: flex;
  float: right;
  margin-left: auto;
  align-items: center;
}
.shop-action button {
  background: white;
  padding: 0px 18px;
  height: 52px;
  border-radius: 32px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.4);
  border: none;
  outline: none !important;
  margin-right: 20px;
  font-family: Volte-bold;
  color: #532c0f;
  font-size: 21px;
  line-height: 1;
}
.shop-action button img {
  width: 9px;
  display: inline-block;
  margin-left: 18px;
  transform: translateY(-2px);
}
.shop-action a {
  display: block;
  margin-left: 18px;
}
.shop-action a img {
  height: 46px;
}
.shop-action a:hover img {
  transform: scale(1.05);
}

#headline_caramel {
  width: 103% !important;
  top: -10% !important;
  left: -50%;
  transform: translateX(-50%);
  position: absolute;
}

#headline_caramel_kopi {
  width: 80% !important;
  top: 0 !important;
  left: 10% !important;
  position: absolute;
  transform: translateX(-50%);
}

.img-sobek-container {
  position: relative;
  width: 400px;
}
.img-sobek-container img {
  max-width: 100%;
}
.img-sobek-container #action_sobek {
  position: absolute;
  width: 64px;
  height: 64px;
  background-image: url("../images/action-sobek.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: 8px;
  left: -28px;
  z-index: 1;
}
.img-sobek-container #action_sobek:hover {
  transform: scale(1.1);
  cursor: grab;
}
.img-sobek-container #action_sobek:active {
  cursor: grabbing;
  user-select: none;
}
.img-sobek-container #sachet_b {
  margin-top: -6px;
}

.form-control.underline {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  box-shadow: none;
  border-bottom: 1px solid white;
}
.form-control.underline::placeholder {
  color: white;
}
.form-control.underline:focus {
  border: none;
  border-bottom: 1px solid white;
}

.btn-white {
  border-radius: 32px !important;
  background-color: white;
  color: black;
  font-family: Volte-semibold;
  margin-left: 8px;
  padding-left: 32px;
  padding-right: 32px;
}

.footer .copyright {
  font-size: 14px;
  font-family: Volte-semibold;
}

.bg-black {
  background-color: black !important;
}

.main-menu {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 9;
  pointer-events: none;
  overflow: hidden;
  opacity: 0;
  transition-duration: 0.3s;
  transition-delay: 0.5s;
}
.main-menu::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 25%;
  width: 100vw;
  height: 100vw;
  background-color: red;
  transform: scale(0);
  transition-duration: 0.5s;
  border-radius: 100%;
  transition-timing-function: cubic-bezier(0.93, 0.2, 0.93, 0.58);
}
.main-menu .btn-menu {
  position: absolute;
  right: 32px;
  top: 64px;
}
.main-menu ul {
  list-style: none;
  padding: 0;
}
.main-menu ul li {
  opacity: 0;
  transition-duration: 0.5s;
  transform: translateY(-10px);
}
.main-menu ul li a {
  color: white;
  font-size: 72px;
  line-height: 1.7;
  font-family: Volte-bold;
}
.main-menu__text-container {
  text-align: right;
  padding-right: 72px;
}
.main-menu__text-container span {
  font-family: Volte-bold;
  color: white;
  font-size: 124px;
  line-height: 1;
  opacity: 0;
  transition-duration: 0.5s;
  transform: translateX(30px);
  display: inline-block;
  position: relative;
  letter-spacing: -10px;
  transition-timing-function: cubic-bezier(0.6, 0.48, 0.61, 1.23);
}
.main-menu__text-container span:after {
  content: "";
  position: absolute;
  right: -10px;
  top: 0;
  width: 50px;
  height: 100%;
  background: red;
  background: linear-gradient(90deg, rgba(255, 0, 0, 0) 30%, red 100%);
}
.main-menu__img-container {
  position: relative;
}
.main-menu__img-container img {
  width: 540px;
  margin-left: auto;
  display: block;
  opacity: 0;
  transition-duration: 0.3s;
}
.main-menu.main-menu--active {
  pointer-events: auto;
  opacity: 1;
  transition-delay: 0s;
}
.main-menu.main-menu--active:before {
  transform: scale(3);
}
.main-menu.main-menu--active ul li {
  opacity: 1;
  transform: translateY(0);
}
.main-menu.main-menu--active ul li:first-child {
  transition-delay: 0.5s;
}
.main-menu.main-menu--active ul li:nth-child(2) {
  transition-delay: 0.6s;
}
.main-menu.main-menu--active ul li:nth-child(3) {
  transition-delay: 0.7s;
}
.main-menu.main-menu--active ul li:nth-child(4) {
  transition-delay: 0.8s;
}
.main-menu.main-menu--active .main-menu__img-container img {
  opacity: 1;
  transition-delay: 0.5s;
}
.main-menu.main-menu--active .main-menu__text-container span {
  opacity: 1;
  transform: translateX(0);
}
.main-menu.main-menu--active .main-menu__text-container span:first-child {
  transition-delay: 0.5s;
}
.main-menu.main-menu--active .main-menu__text-container span:nth-child(2) {
  transition-delay: 0.6s;
}
.main-menu.main-menu--active .main-menu__text-container span:nth-child(3) {
  transition-delay: 0.7s;
}
.main-menu.main-menu--active .main-menu__text-container span:nth-child(4) {
  transition-delay: 0.8s;
}

.parallax__container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.parallax-scene {
  width: 100%;
  height: 100%;
}
.parallax-scene .img-1 {
  left: 6% !important;
  top: 60% !important;
}
.parallax-scene .img-1 img {
  width: 90px;
}
.parallax-scene .img-2 {
  left: 19% !important;
  top: 30% !important;
}
.parallax-scene .img-2 img {
  width: 60px;
}
.parallax-scene .img-3 {
  left: 72% !important;
  top: 12% !important;
}
.parallax-scene .img-3 img {
  width: 50px;
}
.parallax-scene .img-4 {
  left: 84% !important;
  top: 64% !important;
}
.parallax-scene .img-4 img {
  width: 90px;
}

.container {
  position: relative;
}

.headline-text__container {
  width: 50%;
  margin: 20vh auto 10vh auto;
}
.headline-text__container img {
  width: 100%;
}

.section-headline {
  display: flex;
}

.kopi {
  position: absolute;
}
.kopi img {
  width: 100%;
}

.kopi-1 {
  width: 320px;
  left: 100px;
  top: 54vh;
}

.kopi-2 {
  width: 280px;
  top: 23vh;
  right: -50px;
}

.kopi-3 {
  width: 460px;
  bottom: 0px;
  right: -90px;
}

.headline-scroll {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5%;
}
.headline-scroll span {
  font-family: Volte-medium;
  color: white;
  display: block;
  margin: auto;
  margin-bottom: 12px;
  font-size: 20px;
}
.headline-scroll img {
  width: 32px;
  display: block;
  margin: auto;
}

.detail-product-content {
  max-width: 500px;
  text-align: justify;
  color: #532c0f;
}
.detail-product-content__title {
  font-size: 42px;
  font-family: Volte-bold;
}
.detail-product-content__desc {
  font-family: Biko;
  font-size: 19px;
}

.nav-logo {
  width: 72px;
  height: 72px;
}

.navbar {
  top: 28px !important;
}

#foto_section1 {
  position: absolute;
  left: 0%;
  top: 60px;
  width: 480px;
}

#cap_section1 {
  position: absolute;
  left: 52px;
  top: 100px;
  width: 820px;
}

#camera_section1 {
  position: absolute;
  top: 240px;
  right: 0;
  width: 460px;
  z-index: 1;
}

#coffee_section1 {
  width: 520px;
  position: absolute;
  left: -245px;
  top: 250px;
}

#coffee-sachet_section1 {
  width: 370px;
  top: 520px;
  position: absolute;
  left: 62px;
}

#mic_section2 {
  position: absolute;
  left: 0;
  top: -50px;
  z-index: 1;
  width: 320px;
}

#kacamata_section2 {
  width: 400px;
  position: absolute;
  bottom: 0;
  right: 0;
}

#coffee_section2 {
  width: 480px;
  left: 50px;
  position: relative;
  top: 80px;
}

#sachet_section2 {
  position: absolute;
  bottom: 80px;
  right: -190px;
  width: 360px;
}

#spoons_section2 {
  position: absolute;
  left: -70px;
  top: 60px;
  width: 320px;
}

#whisk_section2 {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 840px;
  z-index: 1;
}

#coffee_section3 {
  width: 420px;
  position: absolute;
  left: -220px;
  top: 40px;
}

#sachet_section3 {
  position: absolute;
  width: 320px;
  right: 0;
  top: 180px;
}

.main-menu-thumb {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
}
.main-menu-thumb--active {
  opacity: 1;
}
.main-menu-thumb#thumbHome img:first-child {
  right: 20px;
  position: relative;
  top: 0;
  width: 490px;
}
.main-menu-thumb#thumbHome img:last-child {
  position: absolute;
  bottom: -40px;
  right: 330px;
  width: 390px;
}
.main-menu-thumb#thumbProduct img {
  width: 260px;
  display: inline-block;
}
.main-menu-thumb#thumbProduct img:first-child {
  margin-right: 100px;
  margin-bottom: 140px;
}
.main-menu-thumb#thumbProduct img:nth-child(2) {
  position: absolute;
  right: 210px;
  top: 140px;
}
.main-menu-thumb#thumbProduct img:last-child {
  margin-bottom: 140px;
  margin-right: 30px;
}
.main-menu-thumb#thumbRecipe img {
  display: inline-block;
}
.main-menu-thumb#thumbRecipe img:first-child {
  margin-right: 100px;
  margin-top: 210px;
  width: 180px;
  z-index: 1;
  position: relative;
}
.main-menu-thumb#thumbRecipe img:nth-child(2) {
  position: absolute;
  right: 70px;
  bottom: 30px;
  width: 320px;
}
.main-menu-thumb#thumbRecipe img:last-child {
  margin-top: 90px;
  width: 220px;
  z-index: 1;
  position: relative;
}

@media (max-width: 1199.98px) {
  #camera_section1 {
    width: 360px;
  }

  #coffee_section1 {
    width: 450px;
    left: -175px;
    top: 220px;
  }

  #foto_section1 {
    width: 320px;
  }

  .section__title.mt-400 {
    margin-top: 280px;
  }

  #cap_section1 {
    top: 70px;
    width: 720px;
  }

  #coffee-sachet_section1 {
    width: 270px;
    top: 480px;
  }

  #mic_section2 {
    width: 200px;
    top: -10px;
  }

  #coffee_section2 {
    width: 410px;
    left: 64px;
  }

  #sachet_section2 {
    bottom: 130px;
    right: -190px;
    width: 310px;
  }

  #kacamata_section2 {
    width: 350px;
    bottom: 60px;
  }

  #coffee_section3 {
    width: 340px;
    position: absolute;
    left: -160px;
    top: 20px;
  }

  #whisk_section2 {
    width: 610px;
  }

  #sachet_section3 {
    width: 270px;
    top: 310px;
  }

  #spoons_section2 {
    left: -40px;
    top: 110px;
    width: 270px;
  }
}
@media (max-width: 991.98px) {
  .kopi-1 {
    width: 210px;
    left: 60px;
    top: 46vh;
  }

  .kopi-2 {
    width: 210px;
    top: 20vh;
    right: 38px;
  }

  .kopi-3 {
    width: 340px;
    bottom: 0px;
    right: -50px;
  }

  #mic_section2 {
    top: 270px;
  }

  #cap_section1 {
    left: 72px;
    top: -70px;
    position: relative;
  }

  #coffee_section1 {
    width: 500px;
    left: -75px;
    top: -80px;
    position: relative;
  }

  #coffee-sachet_section1 {
    top: 400px;
    width: 320px;
    left: 210px;
  }

  #camera_section1 {
    width: 430px;
    right: -40px;
    top: 750px;
  }

  #coffee_section2 {
    width: 320px;
    left: 60px;
    top: 0;
  }

  #coffee_section3 {
    width: 310px;
    left: -110px;
    top: -70px;
    position: relative;
  }

  #sachet_section3 {
    width: 220px;
    top: 150px;
    left: 160px;
  }

  #whisk_section2 {
    width: 520px;
    right: -20px;
  }

  #kacamata_section2 {
    width: 270px;
    bottom: -80px;
    right: 110px;
  }

  #sachet_section2 {
    bottom: auto;
    right: -80px;
    width: 250px;
    top: 110px;
  }

  .footer__social-media a img {
    width: 42px;
  }
}
@media (max-width: 767.98px) {
  #mic_section2 {
    top: 260px;
  }
}
@media (max-width: 575.98px) {
  .footer {
    padding: 42px 12px;
  }

  .foem-email .form-control {
    width: 100%;
  }

  .foem-email .btn {
    margin-left: auto;
    margin-right: auto;
  }

  .nav-logo {
    width: 62px;
    height: 62px;
  }

  .navbar {
    top: 0 !important;
  }

  .section__title {
    font-size: 52px;
  }

  .section__desc {
    font-size: 20px;
  }

  .kopi-3 {
    width: 230px;
    right: -30px;
  }

  .kopi-2 {
    width: 110px;
    right: 8px;
  }

  .kopi-1 {
    width: 110px;
    left: 20px;
  }

  .headline-text__container {
    margin-top: 31vh;
  }

  #foto_section1 {
    width: 180px;
  }

  #camera_section1 {
    width: 240px;
    right: -20px;
    top: 750px;
  }

  #coffee_section1 {
    width: 240px;
  }

  #coffee-sachet_section1 {
    top: 240px;
    width: 140px;
    left: 90px;
  }

  #mic_section2 {
    width: 100px;
  }

  #coffee_section2 {
    width: 190px;
    left: 70px;
  }

  .long-margin {
    margin-bottom: 100px !important;
  }

  #sachet_section2 {
    right: 90px;
    width: 160px;
    top: 80px;
  }

  #kacamata_section2 {
    width: 170px;
    bottom: -90px;
    right: 0px;
  }

  #spoons_section2 {
    left: -40px;
    top: 150px;
    width: 190px;
  }

  #whisk_section2 {
    width: 400px;
  }

  #coffee_section3 {
    width: 220px;
    left: -60px;
    margin-bottom: 110px;
  }

  #sachet_section3 {
    width: 120px;
    top: 40px;
  }

  .footer__social-media {
    margin: auto;
  }

  .foem-email {
    margin: auto;
  }
}

/*# sourceMappingURL=style.css.map */
